#container {
    margin-left: 2%;
    margin-top: 2%;
}
#password-panel {
    border-color: #98bf21;
    margin-top: 50%;
}
#password-panel .panel-heading {
    background-color: #eaf2d3;
    border-color: #98bf21;
}
#password-panel input,
#password-panel button {
    margin: 2%;
}
#password-panel #login-response {
    margin-left: 2%;
    color: #800000;
}
#statistics {
    max-width: 400px;
}
#users,
#forwards {
    max-width: 800px;
}
#users a:link,
#users a:visited {
    display: block;
    color: #000080;
    padding: 4px;
    text-decoration: none;
}
#users a:hover,
#users a:active {
    text-decoration: underline;
}
#forwards a:link,
#forwards a:visited {
    color: darkgray;
    text-align: right;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}
#forwards td {
    vertical-align: middle;
}
#button a:link,
#button a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#button a:hover,
#button a:active {
    background-color: #7A991A;
}
#form_buttons {
    margin: 10px;
    margin-top: 20px;
    margin-left: 75px;
    float: none;
}
#form_buttons a:link,
#form_buttons a:visited {
    display: block;
    float: left;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    width: 120px;
    text-align: center;
    padding: 4px;
    margin-left: 4px;
    text-decoration: none;
}
#form_buttons a:hover,
#form_buttons a:active {
    background-color: #7A991A;
}
ul.addr_deliver_to,
ul.addr_deliver_to ul {
    list-style-type: none;
}
a.forward_del,
a.forward_des a {
    color: darkgray;
    text-align: right;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}
/* Sieve Scripts */
#sievescripts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
#sievescripts td,
#sievescripts th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#sievescripts td.active {
    color: #008000;
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#sievescripts td.notactive {
    color: #800000;
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
#sievescripts th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}
#sievescripts tr.alt td {
    color: #000000;
    background-color: #eaf2d3;
}
#sievescripts a:link,
#sievescripts a:visited {
    display: block;
    color: #000080;
    padding: 4px;
    text-decoration: none;
}
#sievescripts a:hover,
#users a:active {
    text-decoration: underline;
}
